/* JumpDev OS Wofi - Catppuccin Mocha */

window {
    margin: 0px;
    border: 2px solid #cba6f7;
    border-radius: 10px;
    background-color: #1e1e2e;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

#input {
    margin: 8px;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    background-color: #313244;
    color: #cdd6f4;
}

#input:focus {
    border: 1px solid #cba6f7;
}

#inner-box {
    margin: 4px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 0px;
    padding: 4px 8px;
    border: none;
    color: #cdd6f4;
}

#entry {
    margin: 2px 4px;
    padding: 6px 8px;
    border-radius: 6px;
    background-color: transparent;
}

#entry:selected {
    background-color: #313244;
    border: 1px solid #cba6f7;
}

#entry:selected #text {
    color: #cba6f7;
}
