[Desktop Entry]
Name=Lazydocker
Comment=Simple terminal UI for Docker
Exec=kitty -e lazydocker
Icon=docker
Terminal=false
Type=Application
Categories=Development;System;
