[Desktop Entry]
Name=Lazygit
Comment=Simple terminal UI for git commands
Exec=kitty -e lazygit
Icon=git
Terminal=false
Type=Application
Categories=Development;RevisionControl;
